:root {
  color-scheme: default;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: darkslategray;
  cursor: pointer;
  transition: border-color 0.25s ease;
  border-width: 0.15em;
}

button:hover {
  border-color: #ccc;
  border-width: 0.15em;
}

button:active {
  background-color: rgb(83, 135, 135);
  color: darkslategray;
  border-color: darkslategray;
}

button:disabled {
  cursor: default;
  background-color: rgba(162, 162, 162, 0.3);
  border-width: 0;
}

button:disabled:hover {
  cursor: default;
  background-color: rgba(162, 162, 162, 0.3);
  border-color: transparent;
}

button:disabled:active {
  color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
